.bg-darkgrey{
    background-color: darkgrey !important;
}
.unselectable {
    user-select: none;
}
.pointer {
    cursor: pointer;
}
.member:hover {
    text-decoration: underline;
}
.footer {
    position: fixed;
    bottom: 0;
  }
//material inputs
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: '' attr(data-title);
    background-color: grey;
    color: black;
    font-size: 100%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    top: 100%;
    left: 10%;
    white-space: pre;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
